___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a % 2==0 and b % 2==0 and  a<b:
        return a
    elif a % 2==0 and b % 2==0 and  a>b:
        return b
    elif (a % 2 !=0 or b % 2 !=0) and a <b:
        return b
    elif (a % 2 !=0 or b % 2 !=0) and a > b:
        return a

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [7]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [32]:
def animal_crackers(text):
    text=text.split()
    if text[0][0].upper()== text[1][0].upper():
        return True
    else:
        return False

In [36]:
# Check
animal_crackers('kajikastan kangaroo')

True

In [35]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [37]:
def makes_twenty(n1,n2):
    if n1 == 20 or n1+n2==20 :
        return True
    else:
        return False

In [38]:
# Check
makes_twenty(20,10)

True

In [40]:
# Check
makes_twenty(17,3)

True

In [39]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [64]:
def old_macdonald(name):
    word_lenght=len(name)
    count=0
    output=[]
    output_string=''
    if word_lenght >=4:
        for letter in name:
            count+=1
            if count == 1 or count == 4:
                output.append(letter.upper())
            else:
                output.append(letter)
        
        
        output_string =''.join(output)
        return output_string
    
    elif word_lenght <4:
        for letter in name:
            count+=1
            if count == 1:
                output.append(letter.upper())
            else:
                output.append(letter)
        
        
        output_string =''.join(output)
        return output_string

In [65]:
old_macdonald('macdonald')

'MacDonald'

In [68]:
old_macdonald('mac')

'Mac'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [138]:
def master_yoda(text):
    outputString=''
    output=[]
    text=text.split()
    for item in text:
        output.append(item)
        
    output.reverse()
    

    outputString =" ".join(output)
    return outputString

In [139]:
# Check
master_yoda('We are ready')

'ready are We'

In [140]:
# Check
master_yoda('I am home')

'home am I'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [155]:
def almost_there(num):
    if num in range(90,111):
        return True
    elif num in range(190,211):
        return True
    else:
        return False

In [156]:
# Check
almost_there(104)

True

In [159]:
#check
almost_there(90)

True

In [157]:
# Check
almost_there(150)

False

In [158]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [128]:
def has_33(num):
    count=0
    count3=0
    value=False
    for item in num:
        if item !=3:
            count+=1
            continue
        if item ==3:
            count+=1
            if count==2:
                print('going to look for next 3 ')
                continue
            elif count==3:
                print('second time 3 appear')
            
            return True

In [131]:
pwd

'C:\\work\\Python\\03-Methods and Functions'

In [129]:
has_33([1, 3, 3])

going to look for next 3
second time 3 appear

True

In [130]:
has_33([1, 3, 1, 3])

going to look for next 3

True

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [244]:
def paper_doll(text):
    s=[ item*3 for item in text]
    soutpout=''.join(s)
    return soutpout

In [245]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [246]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [50]:
def blackjack(a,b,c):
    result=0
    if ((a in range(1,12)) and( b in range(1,12)) and ( c in range(1,12)) ):
        if a+b+c>21 and  (a == 11) or( b == 11) or (c == 11):
                result=(a+b+c-10)
                return result
        if a+b+c>21:
            return "BUST"
        else:
            result=a+b+c
            return result

In [53]:
# Check
blackjack(5,6,7)

18

In [51]:
# Check
blackjack(9,9,9)

'BUST'

In [52]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [36]:
def summer_69(arr):
    count=0
    output=0
    for item in arr:
        if item==6:
            count+=1
            continue
        if item==9 and count == 1:
            count=0
            continue
        if item!=6 and count == 0:
            output+=item
        
    return output

In [37]:
summer_69([2, 1, 6, 9, 11])

14

In [38]:
summer_69([1, 3, 5])

9

In [39]:
summer_69([4, 5, 6, 7, 8, 9])

9

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [93]:
def spy_game(nums):
    count=0
    for item in nums:
        if item == 0:
            count+=1
            continue
            
        elif item == 7 and count ==2:
        
         return True
        
        elif item==7 and count !=2 :
          
         return False

In [94]:

spy_game([1,2,4,0,0,7,5])

True

In [97]:
spy_game([7,2,4,0,0,5])

False

In [98]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [99]:
# Check
spy_game([1,0,2,0,0,5,7])

False

In [100]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
def count_primes(num):
    pass

In [ ]:
# Check
count_primes(100)

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!